{% extends "escalas/base.html" %}

{% block content %}

<p>Plantões</p>

<ul>
    {% for plantao in plantoes %}
    <li>{{ plantao }} 
        {{ plantao.delegado_dia }}
        {{ plantao.del_apoio_dia }}
        {{ plantao.escriva1_dia }}
        {{ plantao.escriva2_dia }}
        {{ plantao.esc_ref_dia }}
        {{ plantao.operacional_dia }}
        {{ plantao.oper_ref_dia }}

        {{ plantao.delegado_noite }}
        {{ plantao.del_apoio_noite }}
        {{ plantao.escrivao_noite }}
        {{ plantao.esc_ref_noite }}
        {{ plantao.operacional1_noite }}
        {{ plantao.operacional2_noite }}
        {{ plantao.oper_ref_noite }}

    </li>
    {% empty %}
    <li>Nenhum plantao foi adicionado ainda.</li>
    {% endfor %}
</ul>

{% endblock content %}